@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #D0D0D0;
    background: linear-gradient(to bottom, #403F44, #1E1B32);
}

.scrollbar::-webkit-scrollbar {
    width: 6px;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: darkgray;
}

.scrollbar::-webkit-scrollbar-track-piece:end {
    background: darkgray;
    margin-bottom: 16px;
}

.scrollbar::-webkit-scrollbar-track-piece:start {
    background: darkgray;
    margin-top: 16px;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: gray;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: dimgray;
}

.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #D3D3D3 darkgray;
}

.scrollbar:hover {
    scrollbar-color: #C0C0C0 darkgray;
}

h1 {
    @apply text-5xl font-bold py-2
}

h2 {
    @apply text-4xl font-bold py-2
}

h3 {
    @apply text-3xl font-bold py-2
}

h4 {
    @apply text-2xl font-bold py-1
}

h5 {
    @apply text-xl font-bold py-1
}

h6 {
    @apply text-lg font-bold py-1
}

ul, ol {
    @apply py-2
}

ul {
    @apply list-disc
}

ol {
    @apply list-decimal
}

li {
    @apply ml-6
}

a {
    @apply hover:text-blue-5F-500 hover:underline transition-colors
}

img {
    @apply m-2
}

blockquote {
    @apply my-2 rounded-r-lg bg-gray-600 px-4 py-2 border-l-4 border-solid border-green-50-500
}

p > code {
    @apply bg-gray-600 px-1
}

p:has(code) {
    @apply my-2
}

pre:has(code) {
    @apply my-2 py-2 rounded-lg bg-gray-600 px-4
}